# Ignore Mac system files
.DS_Store

# VSCode settings
.vscode/

# ignore scratch working directory for code in progress
scratch/

# Ignore various Terraform state files and sensitive variable files
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.tfstate
.terraform.tfstate.backup
.terraform/

# Omit sensitive variable files
*.credentials.auto.tfvars
*.users.auto.tfvars
secrets.auto.tfvars

# Ignore post-migration backend files
*.backend.tf

# Ignore selected RDS configurations
main.aurora.tf
main.maria_db.tf
